<h1>Your Cart</h1>
<ul>
  <% cart.each do |item| %>
  <li><%= item %></li>
  <% end %>
</ul>

<%= form_tag('/products/add', method: 'post') do %>
  <label>Item Name</label>
  <input name="product">
  <input type="submit" value="add to cart">
<% end %>